.container1{
    background: ghostwhite;
    width: 33%;
    margin-top: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.container1:hover{
    background-color: bisque;
     box-shadow: 0px 5px 10px -7px rgba(0,0 ,0 ,0.75 );
     transform: scale(1.0);
}
@media only screen and (max-width: 600px){
    .container1{
        width: auto;
        margin-top: 10%;
    }
}